<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Capture the Clue</title>

    <link rel="stylesheet" href="/css_bootstrap/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/addquest.css" />
  </head>
  <body class="hoja">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" 
          ><i style="padding: 10px" ></i
          >Capture the Clue</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/loginadmin"
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <a class="addbutton" href="/">
      <button class="btn addy" style="font-size: 20px">
        Add
        <i class="fa fa-plus-circle" style="font-size: 35px; color: white"></i>
      </button>
    </a>
    <div class="row">
      <h1 class="heading1">Add a Quest</h1>
      <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
      <div
        class="col-lg-4 d-flex justify-content-center align-items-center flex-column"
        style="margin-top: 20px"
      >
        <div class="card" style="width: 25rem">
          <div class="card-body">
            <h5 class="card-title"><%=data.name %></h5>
            <p class="card-text"><%=data.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Model: <%=data.model %></li>
            <li class="list-group-item">Cost: <%=data.cost %></li>
            <li class="list-group-item">Features: <%=data.features %></li>
          </ul>
        </div>
      </div>
      <% i++; }) %> <% } else{ %>
      <tr>
        <td colspan="8">No Quest added</td>
      </tr>
      <% } %>
    </div>
    <div id="products-cards-container" class="row"></div>
    <script src="/js_bootstrap/bootstrap.min.js"></script>
    <!-- <script src="/js/addbikes.js"></script> -->
  </body>
</html>